body{
	background-color: black
}
.yello{
	background-color: yellow;
}
.red{background-color: red;
	color: white;

}
.black{
	background-color:#FFAD33 ;
}

section{
	color: red;
}
h1{
	color: red;
}
.mort{
	color: white;
}