
body{

  background-image: url(img/mha.png) ;
  
  background-repeat: no-repeat;

}



h1{
  color: red
}

.wrapper {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {

  color: red;
  grid-column: 1 / 3;
  grid-row: 1;
}
.two { 
  color: red;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  color: red;
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  
  color: red;
  grid-column: 3;
  grid-row: 3;
}
.five {
  color: red;
  grid-column: 2;
  grid-row: 4;
}
.six {
  color: red;
  grid-column: 2;
  grid-row: 3;
}